# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
ENV/
env/
.venv/

# PyCharm
.idea/

# VSCode (optional)
.vscode/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# MyPy
.mypy_cache/

# Pyre
.pyre/

# profiling data
.prof

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Linux
*~

# Local dev logs or temp
*.log
*.tmp

# Image files
*.temp
*.jpg
*.jpeg
*.png
